* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(142deg, #0c024f, #020202, #0c024f);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #0c0155;
    padding: 40px;
    border-radius: 20px;
    width: 35rem;
}

h1 {
    font-size: 35px;
    font-weight: 900;
}

#joke {
    font-style: italic;
    margin: 30px 0;
}

.btn {
    height: 3rem;
    width: 10rem;
    border: 0.2px solid black;
    background: #090238;
    color: white;
    font-size: 18px;
    font-weight: 900;
    border-radius: 7px;
    padding: 8px;
    cursor: pointer;
}

.btn:hover {
    color: #170d48;
    background-color: #afafe6;
}